---
---

<header class="w-full sticky top-0 z-50 bg-zinc-900/50 backdrop-blur-md" transition:name="header">
    <div class="relative flex flex-row w-full h-full p-5 pr-10 pt-8 bg-linear-to-b from-black/50 to-black/0">
        <a href="/" class="my-auto shrink-0">
            <img src="/netflix_logo.svg" alt="Netflix logo" class="w-22 mx-5 sm:w-30 md:mx-10"/>
        </a>
        <ul class="md:flex flex-row hidden gap-5 my-auto shrink-0">
            <li><a class="text-white hover:text-zinc-400 transition-all" href="/">Inicio</a></li>
            <li><a class="text-white hover:text-zinc-400 transition-all" href="/#discover">Descubrimiento</a></li>
        </ul>
        <div class="flex md:hidden justify-center shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="m-auto w-8 h-8" viewBox="0 0 24 24" fill="currentColor" ><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 6a1 1 0 0 1 -1 1h-16a1 1 0 1 1 0 -2h16a1 1 0 0 1 1 1" /><path d="M21 12a1 1 0 0 1 -1 1h-16a1 1 0 0 1 0 -2h16a1 1 0 0 1 1 1" /><path d="M21 18a1 1 0 0 1 -1 1h-16a1 1 0 0 1 0 -2h16a1 1 0 0 1 1 1" /></svg>
        </div>
        <form class="flex flex-col absolute top-7 z-20 right-10 ml-auto my-auto focus-within:bg-zinc-600 p-2 rounded-full transition-all focus-within:ring-2 focus-within:ring-zinc-600 focus-within:ring-offset-2 focus-within:ring-offset-zinc-900 group">
            <div class="flex flex-row">
                <input id="searchBar" type="text" placeholder="Buscar..." autocomplete="off" class="w-0 focus-within:w-[calc(100vw-(--spacing(32)))] md:focus-within:w-80 transition-all focus:outline-none mx-2 peer">
    
                <label for="searchBar" class="cursor-pointer peer-focus:hidden flex">
                    <svg xmlns="http://www.w3.org/2000/svg" class="m-auto w-5 h-5 sm:w-6 sm:h-6" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                </label>
                <button id="searchButton" class="cursor-pointer hidden peer-focus:block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="m-auto w-5 h-5 sm:w-6 sm:h-6" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                </button>
            </div>
            <div id="searchAutoCompleteContainer" class="opacity-0 pointer-events-none absolute bg-zinc-700 top-12 right-0 px-5 py-2 w-full rounded-2xl -translate-y-8 transition-all">
                <ul id="searchAutoCompleteList" class="flex flex-col gap-2 text-zinc-200">
                    <a class="hover:text-white hover:translate-x-1 transition-all">Hola</a>
                    <a class="hover:text-white hover:translate-x-1 transition-all">Hola</a>
                    <a class="hover:text-white hover:translate-x-1 transition-all">Hola</a>
                    <a class="hover:text-white hover:translate-x-1 transition-all">Hola</a>
                    <a class="hover:text-white hover:translate-x-1 transition-all">Hola</a>
                    <a class="hover:text-white hover:translate-x-1 transition-all">Hola</a>
                    <a class="hover:text-white hover:translate-x-1 transition-all">Hola</a>
                </ul>
            </div>
        </form>
    </div>
</header>

<script>
    import { navigate } from 'astro:transitions/client';

    document.addEventListener('astro:page-load', () => {
        const searchBar = document.getElementById("searchBar") as HTMLInputElement
        const searchButton = document.getElementById("searchButton") as HTMLButtonElement
        searchButton.addEventListener("mousedown", (event) => { // Bloqueamos el evento mouse down para que no quite el focus al input
            event.preventDefault();
        })
        searchButton.addEventListener('click', (event) => { // Evento para la busqueda
            event.preventDefault(); //Previene el comportamiento default (Recargar)
            
            manageClick(); //Ejecuta la funcion que redirige
        });
        
        searchBar.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {
                event.preventDefault(); //Evita el comportamiento default (Recargar la pagina)
                
                manageClick(); //Ejecuta la funcion que redirige
            }
        })

        function manageClick() {
            if (searchBar.value.trim() === "") return; //Si solo hay espacios no hace nada

            //Calcula la ruta
            const searchURL = `/buscar?query=${encodeURIComponent(searchBar.value)}`;
            //Navega usando navigate para tener animaciones y mantener el video
            navigate(searchURL)
        }


        // Search AutoComplete
        const searchAutoCompleteContainer = document.getElementById("searchAutoCompleteContainer") as HTMLDivElement;
        const searchAutoCompleteList = document.getElementById("searchAutoCompleteList") as HTMLUListElement;
        let timerEscribir : ReturnType<typeof setTimeout>;
        
        document.addEventListener('keyup', (event) => { // Evento al escribir
            const target = event.target as HTMLInputElement;
            if (target.matches('#searchBar')) { // Si escribes sobre la barra de busqueda
                clearTimeout(timerEscribir);

                timerEscribir = setTimeout(() => {
                    searchAutoComplete(target.value);
                }, 300);
            }
        })
        
        document.addEventListener('click', (e) => { // Cuando clicas fuera se oculta y limpia el timer
            if (document.activeElement !== searchBar) {
                clearTimeout(timerEscribir);

                // Se oculta
                searchAutoCompleteContainer.style.opacity = "0"
                searchAutoCompleteContainer.style.translate = "0px -32px"
                searchAutoCompleteContainer.style.pointerEvents = "none"

                searchAutoCompleteList.replaceChildren() // Borra todos los nodos hijo
            }
        })

        async function searchAutoComplete(text:string) {
            //Llamada a la api interna /api/search
            const response = await fetch(`/api/search?query=${text}`)
            if (!response.ok) { // Si no hay respuesta para
                return;
            }
            const data = await response.json() as string[] // Espera la respuesta

            searchAutoCompleteList.replaceChildren() // Borra todos los nodos hijo
            data.map(title => { // Crea un nuevo anchor por cada titulo
                const newLink = document.createElement("a");
                
                newLink.classList = "hover:text-white hover:translate-x-1 transition-all cursor-pointer"
                newLink.innerHTML = title
                newLink.addEventListener('mousedown', (event) => {
                    event.preventDefault();
                    event.stopPropagation(); // Evita que el evento "suba" al document 

                    const URL = `/buscar?query=${encodeURIComponent(title)}`
                    navigate(URL)
                })

                searchAutoCompleteList.appendChild(newLink)
            })

            // Se muestra el drop down si hay titulos
            if (data[0]) {
                searchAutoCompleteContainer.style.opacity = "1"
                searchAutoCompleteContainer.style.translate = "0px 0px"
                searchAutoCompleteContainer.style.pointerEvents = "auto"
            } else { // Si no se oculta
                searchAutoCompleteContainer.style.opacity = "0"
                searchAutoCompleteContainer.style.translate = "0px -32px"
                searchAutoCompleteContainer.style.pointerEvents = "none"
            }
        }

    })
</script>