---
---

<header class="w-full sticky top-0 z-50 bg-zinc-900/50 backdrop-blur-md" transition:name="header">
    <div class="flex flex-row w-full h-full p-5 pr-10 pt-8 bg-linear-to-b from-black/50 to-black/0">
        <a href="/" class="my-auto">
            <img src="/netflix_logo.svg" alt="Netflix logo" class="w-30 mx-10"/>
        </a>
        <ul class="flex flex-row gap-5 my-auto">
            <li><a class="text-white hover:text-zinc-400 transition-all" href="/">Inicio</a></li>
            <li><a class="text-white hover:text-zinc-400 transition-all" href="/#discover">Descubrimiento</a></li>
            <li><a class="text-white hover:text-zinc-400 transition-all" href="#comedia">Comedia</a></li>
        </ul>
        <div class="ml-auto my-auto flex flex-row focus-within:bg-zinc-600 p-2 rounded-full transition-all focus-within:ring-2 focus-within:ring-zinc-600 focus-within:ring-offset-2 focus-within:ring-offset-zinc-900 group">
            <input id="searchBar" type="text" placeholder="Buscar..." class="w-0 focus-within:w-70 transition-all focus:outline-none mx-2 peer">

            <label for="searchBar" class="cursor-pointer peer-focus:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
            </label>
            <button id="searchButton" class="cursor-pointer hidden peer-focus:block">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
            </button>
        </div>
    </div>
</header>

<script>
    const searchBar = document.getElementById("searchBar") as HTMLInputElement
    const searchButton = document.getElementById("searchButton") as HTMLButtonElement
    searchButton.addEventListener("mousedown", (event) => { // Bloqueamos el evento mouse down para que no quite el focus al input
        event.preventDefault();
    })
    searchButton.addEventListener('click', () => { // Evento para la busqueda
        const url = new URL (window.location.href);
        url.pathname = "/buscar";
        
        url.searchParams.set("query", searchBar.value);
        window.location.href = url.toString()
    });
</script>