---
const { trailer_key = "" } = Astro.props
---
<div id="video-parent-parent" transition:name="video-trailer" transition:persist class="pointer-events-none hidden relative w-full h-full">
  <iframe id="video-trailer"  data-status="-1" class="pointer-events-auto hidden absolute w-full aspect-video md:aspect-auto md:h-full" src={`https://www.youtube.com/embed/${trailer_key}?modestbranding=1&enablejsapi=1`} title="Trailer youtube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <button id="video-trailer-stop-button" class="bg-zinc-800 hover:bg-zinc-600 rounded-full absolute top-0 right-0 p-2 m-3 pointer-events-auto">
    <svg class="text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
  </button>
</div>

<script is:inline src="https://www.youtube.com/iframe_api"></script>
<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const esPaginaDePelicula = document.getElementById("PAGINA-DE-PELICULA");
    const stopButton = document.getElementById("video-trailer-stop-button");
    const iframe = document.getElementById("video-trailer");
    const iframe_parent = document.getElementById("video-parent-parent");
    const datosVideo = document.getElementById("video-datos");
    if (!iframe) return; //Si no hay iframe sale para no dar errores

    // Key del video del div separado (Para que no se pase con la transicion)
    let videoKey;
    if (datosVideo) {
        videoKey = datosVideo.dataset.key;
        if (videoKey == "NOTFOUND") {
            iframe_parent.style.display = "none"
            iframe.style.display = "none"
        } else {
            iframe_parent.style.display = "block"
            iframe.style.display = "block"
        }
    }

    function gestionarReproductor() {
      if (window.miReproductorYT) {
        // Cambiamos el video al nuevo
        window.miReproductorYT.cueVideoById(videoKey);
      } else {
        // Si no existe el reproductor se crea uno nuevo
        window.miReproductorYT = new window.YT.Player('video-trailer', {
          events: {
            'onStateChange': window.manejarEstadoDelVideo
          }
        });
      }
    }

    // Funcion para manejar el video (API) global
    window.manejarEstadoDelVideo = function(evento) {
        iframe.dataset.status = evento.data;
    };

    // Revisa si la API esta disponible
    if (window.YT && window.YT.Player) {
      gestionarReproductor(); // Si esta lista
    } else {
      window.onYouTubeIframeAPIReady = gestionarReproductor; // Si no, esperamos
    }

    if (!esPaginaDePelicula && (iframe.dataset.status == "-1" || iframe.dataset.status == "5")) {
        iframe_parent.style.display = "none"
        iframe.style.display = "none"
    }
    
    if (esPaginaDePelicula) {
      stopButton.style.display = "none";
    } else {
      stopButton.style.display = "block";
    }

    stopButton.addEventListener('click', () => {
        iframe_parent.style.display = "none";
        iframe.style.display = "none";
        window.miReproductorYT.cueVideoById("NOTFOUND")
    })
  });
</script>